*{
    padding: 0px;
    margin: 0px;
}



.card1{
   background-color:#22577adc ;
   width: 300px;
   height: 300px;
   align-items: center;
   text-align: center;
   margin-left: 600px;
   border-radius: 10px;
   margin-top: 300px;
}


.line1{
    background-color:#22577adc ;
    width: 10px;
    height: 200px;
    margin-left: 750px;
}

.caption1{
color:#fbc4ab;
padding-top: 100px;  

}


.card2{
    background-color:#22577adc ;
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin-left: 600px;
    border-radius: 10px;
  
}

.caption2{
    color:#fbc4ab;
    padding-top: 100px;  
    }

    